PORT=3000
UPSTREAM_BASE_URL=https://api.example.com
RUIJIE_LOGIN_TOKEN=d63dss0a81e4415a889ac5b78fsc904a
UPSTREAM_TIMEOUT_MS=15000
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
FIREBASE_SERVICE_ACCOUNT_PATH=
FIREBASE_SESSION_COLLECTION=start
